:root{
    --primary: #ff9800;
    --secoundary: #131313;
    --thired: #FFF;
    --fontcolor: #FFF;
    --background1: #646464;
    --filter: rgba(19, 19, 19, 0.60);
    --fontcolor2: #808080;
    --fontcolor3: #131313;
}
.Home{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(212, 212, 212, 0.7);
}
.login_form{
    padding: 25px 40px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 25px;
}
.form_logo img{
    width: 150px;
}
.forminput_container,
.form_contint,
.form_inputs,
.Forgetandremember{
    width: 100%;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Cairo;
}
.forminput_container{
    gap: 50px;
}
.form_title{
    color: var(--primary);
    font-size: 30px;
    font-weight: 600;
}
.form_inputs{
    padding: 0px 20px;
    gap: 70px;
    align-items: flex-start;
}
.signupname_group{
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.signupname_group .input_box input{
    width: 200px;
}
.login_form .input_box input{
    text-align: right;
}
.login_form .input_box label{
    font-size: 16px;
    font-weight: 500;
    color: var(--fontcolor3);
    top: 0px;
}
.login_form .input_box input:focus~label,
.login_form .input_box input:valid~label{
    top: -20px;
}
.Forgetandremember{
    gap: 10px;
}
.rememberthisdevice{
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rememberthisdevice input{
    width: 15px;
    height: 15px;
}
.forgetpassword_link{
    text-decoration: none;
    color: var(--fontcolor2);
}
.forgetpassword_link:hover{
    text-decoration: underline;
    color: var(--primary);
}
.LoginAndRegisterButtons{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.LoginAndRegisterButtons a,
.LoginAndRegisterButtons input{
    width: 350px;
}
.Form_decoration{
    gap: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.line1{
    height: 0.5px;
    width: 130px;
    background: var(--primary);
}
.Text{
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-weight: 400;
}
.GoogleAndFacebook_login,
.icon_box{
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: var(--primary);
}
.icon_box{
    width: 60px;
    padding: 6px 12px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    transition: 0.3s;
}
.icon_box:hover{
    border-radius: 50%;
}







@media only screen and (max-device-width: 600px){


    
    .login_form{
        width: 90%;
        align-items: center;
    }
    .form_inputs{
        padding: 0px 40px;
        gap: 70px;
        align-items: center;
    }
    .signupname_group{
        align-items: center;
    }
    .login_form .signupname_group .input_box input{
        width: 120px;
    }
    .login_form .form_inputs input{
        width: 250px;
    }
    
    .LoginAndRegisterButtons a,
    .LoginAndRegisterButtons input{
        width: 200px;
    }
    .Form_decoration{
        gap: 13px;
    }
    .Text{
        font-size: 12px;
        width: 40%;
    }
    
}







@media only screen and (min-width : 380px) and (max-width: 600px){

    .login_home{
        height: 100vh;
    }
}






@media only screen and (min-width : 601px) and (max-width: 1024px){

    .login_home,
    .signup_home{
        height: 100vh;
    }

}
@media only screen and (min-width : 250px){

    .resetpassword_home,
    .forgetpassword_home{
        height: 100vh;
    }

}